@import 'bootstrap/dist/css/bootstrap.min.css';

.footer {
    background: url('bg-footer.svg') no-repeat center center/cover;
    position: relative;
    color: white;
}

.footer-content {
    position: relative;
    z-index: 1;
}

.w-65 {
    width: 65% !important;
}

.social-icons img {
    width: 32px;
    height: auto;
    margin-right: 15px;
}
