/* Menu Section Styling */
.menu-item {
    padding: 20px;
    margin: 20px;
    transform: translateY(150px);
    transition: opacity 1s ease, transform 0.6s ease;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
}

.menu-item:hover {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.menu-item.animate {
    opacity: 1;
    transform: translateY(0);
}

.menu-item img.icon-gif {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.menu-item:hover img.icon-gif {
    transform: scale(1.2);
}

.menu-label {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #003366;
    transition: color 0.3s ease;
}

.menu-item:hover .menu-label {
    color: #E17E37;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-item {
        padding: 15px;
        margin: 15px;
    }

    .menu-item img.icon-gif {
        width: 50px;
        height: 50px;
    }

    .menu-label {
        font-size: 0.9rem;
    }
}
